### CMake template
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
/build
### Qt template
# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
### C++ template
# Compiled Object files
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries

# Fortran module files
*.mod

*.lib

# Executables
*.exe
*.out
*.app
### C template
# Object files
*.ko

*.elf

# Precompiled Headers
# Libraries
# Shared objects (inc. Windows DLLs)
*.so.*
# Executables
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Created by .ignore support plugin (hsz.mobi)
